@media (min-width: 1024px){

  .stage-number::after {
    content: '';
    width: 15px;
    height: 15px;
    background: #0265bf;
    position: absolute;
    left: 10px;
    top: -9px;
    z-index: 99;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.35s ease-in-out;
  }
  .stage-item:hover .stage-number::after{
    opacity: 1;
  }
}


@media (max-width: 1400px){
  .stage-item:nth-child(2), .stage-item:nth-child(5) {
      margin-right: 0;
  }
}
@media screen and (max-width: 1330px) {
  .container.decor::before {
    content: none;
  }

  .container.decor::after {
    content: none;
  }
}
@media (max-width: 1239.98px){
  .stage-number {
    padding-top: 35px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .stage-title {
    font-size: 14px;
  }
  .stage-text p{
    font-size: 14px;
    margin: 0;
  }
  .stage-text__link{
    font-size: 14px;
  }
  .stage-text__phone{
    font-size: 14px;
  }
  .stage-number::before {
    top: -10px;
    width: 21px;
    height: 21px;
    border-width: 7px;
  }
}
 
@media screen and (max-width: 1172px) {
  .reverse {
    order: 0;
  }

  .service__item {
    flex-direction: column;
  }
  .service__item-cta {
    padding-top: 20px;
    /* padding-left: 0;
    display: flex;
    flex-direction: column; */
  }
  
}
@media screen and (max-width: 1100px) {
  .header__menu {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    right: 0px;
    top: 0px;
    font-size: 20px;
    background-color: #0C0371;
    padding-top: 77px;
  }
  .header__menu ul {
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .header__menu ul li, .header__menu ul li + li {
    padding-bottom: 30px;
    padding-left: 40px;
  }
  .header__menu ul li a, .header__menu ul li + li a {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
  }
  .header__menu .header__call {
    margin: 0 0 50px 40px;
    padding: 19px 68px;
    line-height: 19px;
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    border: solid 1px #fff;
  }

  .menu-close {
    display: block;
    position: absolute;
    top: 19px;
    right: 30px;
    background: none;
  }

  .header__menu-btn {
    display: block;
  }

  .header__box {
    display: none;
  }

  .header__connection {
    margin-left: auto;
  }
}
@media screen and (max-width: 1032px) {
  .founder__inner {
    flex-direction: column;
    align-items: center;
  }

  .founder__box {
    order: 2;
    margin-top: 51px;
  }

  .founder-img-box {
    padding: 0 49px 0 70px;
  }

  .post-footer ul {
    justify-content: center;
    text-align: center;
    padding: 0px 0 24px;
    border-top: none;
  }
  .post-footer ul li {
    padding-bottom: 22px;
  }
}
@media (max-width: 1024px){
  .stage-item {
      width: 50%;
      padding-bottom: 30px !important;
      order: -1 !important;
      border: 0 !important;
  }
  .stage-number::before {
    top: 0px;
  }
}
  
@media screen and (max-width: 900px) {
  h2 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
  }
  .offer .offer__description {
    font-size: 16px;
  }
  .offer .offer__title h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .offer{
    padding: 100px 30px 0 30px;
  }

  .slider__item-box {
    padding-left: 70px;
    background-image: url(../images/content/quote-mobile.svg);
  }
}
@media screen and (max-width: 781px) {
  .news__item {
    margin-left: 32px;
  }
  .work-btn{
    transform: rotate(270deg) translate(57px,56px);
    font-size: 12px;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 609px) {
  .thanks{
    margin: 90px 0 50px;
  }
  .thanks-wrapper{
    gap: 0px;
    flex-direction: column;
  }
}
@media screen and (max-width: 566px) {
  .btn {
    padding: 10px 15px;
    font-size: 14px;
  }
  .header__logo img{
    width: 25px;
    height: 25px;
  }
  .header__logo-text p{
    font-size: 18px;
  }
  .header__logo-text p+p{
    font-size: 10px;
    letter-spacing: 1.6px;
  }
  .service {
    padding: 50px 0 50px;
  }
  .benefits__inner {
    padding-bottom: 50px;
  }
  .stages {
    margin-top: 40px;
  }
  .news {
    padding: 38px 0 50px;
  }
  .slider {
    padding: 33px 0 35px;
  }
  .slider__title {
    margin-bottom: 30px;
  }
  .stages__title {
    margin-bottom: 40px;
}
  .news-wrapper {
    padding: 15px;
  }
  .form__title {
    padding-top: 40px;
  }
  .form__box {
    padding-top: 40px;
  }
  .form__box p {
    padding-top: 18px;
    width: 100%;
    text-align: center;
  }
  .form {
    padding: 0 0 50px;
  }
  .faq {
    padding: 50px 0 50px;
  }
  .map__title {
    padding: 40px 0 0;
  }
  .footer-box {
    justify-content: center;
    padding-bottom: 29px;
  }
}
@media (max-width: 500px){
  .stage-item {
      text-align: center;
      width: 100%;
      padding-right: 0 !important;
      padding-bottom: 40px !important;
  }
  .stage-number {
    width: 58px;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 16px;
    background-position: center top;
    text-align: center;
  }
  .stage-number::before {
    left: 0;
    right: 0;
    top: -10px;
    margin: auto;
  }
  .stage-title {
    line-height: 1.2;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 476px) {
  .header__mail {
    display: none;
  }
  .offer .offer__description {
    font-size: 16px;
  }
  .offer .offer__title h1 {
    font-size: 28px;
    line-height: 33px;
  }

  /* .service__item-wrapper {
    max-width: 341px;
  } */

  .service__item-title h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .service__item-text {
    font-size: 14px;
  }
  .service__item-price p{
    margin-bottom: 10px;
  }
  .service__item-price {
    margin-bottom: 10px;
  }

 

  .benefits__item {
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  .benefits__item-img {
    padding: 24px 25px 26px 28px;
  }
  .benefits__item-img img {
    display: inline;
    width: 67px;
    height: 66px;
    object-fit: contain;
  }

  .benefits__item-text {
    margin: 0 11px 0 0;
    max-width: 208px;
    text-align: left;
  }

  .title {
    font-size: 16px;
  }

  .founder {
    padding-top: 25px;
  }

  .founder-title h3 {
    font-size: 24px;
  }

  .founder-text {
    font-size: 14px;
  }

  .founder-img-box {
    font-size: 16px;
  }
  .founder-img-box span {
    padding-top: 27px;
  }

  .slider {
    padding: 45px 0 38px;
  }

  .slider__item-box {
    margin: 23px auto 0;
  }

  .slider__item-text {
    font-size: 16px;
  }

  .slider__item-author {
    padding-top: 20px;
  }

  .slider__item-author-box {
    font-size: 14px;
  }
  
  .news__item {
    margin-left: 0px;
    margin-top: 20px;
  }

  .news {
    padding: 37px 0 46px;
  }

  .news__item + .news__item {
    margin-left: 0px;
    margin-top: 32px;
  }

  .news__btn {
    margin-top: 40px;
  }

  .faq {
    padding: 28px 0 47px;
  }

  .faq__item-title {
    font-size: 16px;
  }

  .faq__item-text {
    font-size: 16px;
  }

  .form {
    padding: 0 0 42px;
  }
  .form__title {
    padding-top: 49px;
  }
  .form__title h2 {
    line-height: 130%;
    font-size: 26px;
  }
  .form__box {
    padding-top: 40px;
  }
  .form__box input {
    margin-bottom: 30px;
  }
  .form__box button {
    /* padding: 20px 120px; */
    width: 100%;
  }

  .footer {
    text-align: center;
  }

  .footer-box {
    justify-content: center;
    padding-bottom: 29px;
  }
  .footer-box li.footer__item {
    padding-top: 30px;
  }

  .footer-nav li + li {
    padding-top: 22px;
  }

  .footer-contact li + li {
    padding-top: 25px;
  }
  .footer-contact li + li .email {
    padding-bottom: 10px;
  }
  .footer-contact li ul li + li {
    padding-top: 10px;
  }

  .footer-social .social {
    order: 2;
  }
  .footer-social ul {
    padding-bottom: 0px;
  }
  .footer-social li {
    padding-bottom: 10px;
  }

  .post-footer {
    font-size: 14px;
    line-height: 17px;
  }
  .post-footer ul {
    justify-content: center;
    text-align: center;
    padding: 0px 0 24px;
    border-top: none;
  }
  .post-footer ul li {
    padding-bottom: 22px;
  }
  .post-footer ul li + li {
    margin-left: 20px;
  }
}